@charset "UTF-8";

html {
    font-family: 'Quicksand';

    transition-duration: 1s;
    transition-property: all;
    transition-delay: 0;
    transform-style: ease;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(177, 177, 177);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow-y: hidden;
    transition-duration: 1s;
    transition-property: all;
    transform-style: ease;
}

body.sunny {
    background: #0f172a;
    /* Cor de segurança escura para o topo */
    background: linear-gradient(135deg, #1e293b 0%, #005bea 50%, #00c6fb 100%);
}

body.rainy {
    background: linear-gradient(135deg, #212733 0%, #4e6b99 50%, #335992 80%);
}

body.cloudy {
    background: linear-gradient(135deg, #2b323f 0%, #757f9a 50%, #b5bdc8 100%);
}

body.night {
    background: linear-gradient(135deg, #050b14 0%, #101f32 50%, #1b2d42 100%);
}

body>h1 {
    margin-top: 70px;
    color: white;
    background-color: rgba(0, 0, 0, 0.14);
    padding: 8px 20px;
    border-radius: 15px;
}

#menu-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    overflow-y: hidden;
    max-width: 346px;
    max-height: 60px;
    border-radius: 20px;
    background-color: rgb(63, 189, 147);
    color: rgb(26, 26, 26);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    
    transition-duration: 1s;
    transition-property: all;
    transform-style: ease;
}

#menu-box.active{
    max-height: 346px;
}

.menu-big{
    width: 330px;
    height: 374px;
}

#menu-box.sunny {
    background: linear-gradient(20deg, #00c6fb 0%, #005bea 100%);
    color: #ffffff;
}

#menu-box.rainy {
    background: linear-gradient(135deg, #8493b3 0%, #2d78f1 100%);
    color: #ffffff;
}

#menu-box.cloudy {
    background: linear-gradient(135deg, #757f9a 0%, #d7dde8 100%);
    color: #333333;
}

#menu-box.night {
    background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%);
    color: #ffffff;
}

#input-box {
    text-align: center;
    margin: 3px 0 12px 0;
}

#input-box > img{
    margin: 0 0 0 6px;
    width: 30px;
    height: 30px;
    filter: invert();
    transform: translateY(10px);
}

#cidade-input {
    width: 160px;
    height: 20px;
    border-radius: 10px;
    border: none;
    padding: 6px 5px;
    background-color: rgba(0, 0, 0, 0.14);
    color: rgb(240, 240, 240);
    outline: none;
}

#cidade-input::placeholder {
    color: rgba(255, 255, 255, 0.603);
    border: none;
}

#cidade-input:active {
    color: white;
}

#cidade-input::after{
    border: 1px solid #005bea;
}

#buscar-button {
    margin: 0 10px 0 0;
    width: 70px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.14);
    height: 30px;
}

#buscar-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#weather-info>h2,
p {
    margin: 8px;
}

#weather-info {
    margin: 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.06);

    transition-duration: 1s;
    transition-property: all;
    transition-delay: 0;
    transform-style: ease;
}

#weather-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}

#weather-box>h2 {
    margin: 0;
    padding: 0 10px 0 0;
}

#weather-box>img {
    width: 50px;
}

#weather-details-box {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 25px;
}

.weather-details {
    margin: 0;
    padding: 5px;
    width: 85px;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}

.weather-details>p {
    margin: 0;
}

#cards-container {
    display: flex;
    justify-content: space-around;
    width: 94%;
    margin: 5px 0 8px 0;
    gap: 8px;
}

.wkcards {
    border-radius: 10px;
    width: 80px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: all 0.3s ease-in-out;
}

.wkcards:hover {
    border: 1px solid white;
    height: 66px;
    width: 84px;
    transform: translateY(-4px);
}

.wkcards>img {
    width: 40px;
    height: 40px;
}

.cardname{
    transform: translateY(8px);
}

.cardtemp {
    transform: translateY(-9px);
}

@media (max-width: 500px) {
    #menu-box {
        width: 300px;
        height: 360px;
        gap: 10px;
    }

    #weather-details-box {
        flex-direction: row;
        gap: 10px;
    }

    #input-box {
        display: flex;
        align-items: center;
        margin-top: 10px;
        gap: 10px;
    }

    #cidade-input {
        margin: 0;
    }

    #cards-container {
        gap: 10px;
    }

    #weather-box {
        background-color: rgba(0, 0, 0, 0.06);
        border-radius: 15px;
    }
}